.genre{
    margin-top: 5rem;
    margin-left: 1rem;

    .options{
        padding: 8px;
        border: none;
        opacity: none;
    }
    .option{
        padding: 8px;
        border: none;
        opacity: none;
    }
}