.home__container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    background-color: #0b0b0b;
    .movie__lists{
        margin-top: 5rem !important;
    }   
}

